@using TeleConsult.Common
@{
    ViewBag.Title = SiteMap.CurrentNode.Title;
}

<div class="row well down menu">
    <div class="row">
        <div class="col-md-10">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-md-2">
            <div class="menu-logo pull-right">
                @Html.Partial("_LogoPartial")
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4 text-center">
            @Html.ActionLink(GlobalConstants.NewConsultationsControllerTitle, "Request", "Consultation", null, new { @class = "new-consultation image" })
            @Html.ActionLink(GlobalConstants.NewConsultationsControllerTitle, "Request", "Consultation", null, new { @class = "link" })
        </div>
        <div class="col-md-4 text-center">
            @Html.ActionLink(GlobalConstants.SentConsultationsControllerTitle, "Sent", "Consultation", null, new { @class = "sent-consultations image" })
            @Html.ActionLink(GlobalConstants.SentConsultationsControllerTitle, "Sent", "Consultation", null, new { @class = "link" })
        </div>
        <div class="col-md-4 text-center">
            @Html.ActionLink(GlobalConstants.RecievedConsultationsControllerTitle, "Received", "Consultation", null, new { @class = "recieved-consultations image" })
            @Html.ActionLink(GlobalConstants.RecievedConsultationsControllerTitle, "Received", "Consultation", null, new { @class = "link" })
        </div>
    </div>
</div>
