@using TeleConsult.Common
@using TeleConsult.Web.Areas.Admin.Models
@model SpecialistModel

@{ 
    ViewBag.Title = SiteMap.CurrentNode.Title;
}

@section scripts {
    @Html.RenderScripts("~/Areas/Admin/Scripts/Specialist.js")
}

<div>
    <div class="row well">
        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 form-group">
            <label for="searchName">Име</label>
            <input type="text" id="searchName" class="form-control" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 form-group">
            <label for="searchStatus">Статус</label>
            @Html.DropDownList("searchStatus", Model.Statuses, GlobalConstants.Statuses.All, new { @class = "form-control" })
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 form-group">
            <label for="searchTitle">Титла</label>
            @Html.DropDownList("searchTitle", Model.Titles, GlobalConstants.Statuses.All, new { @class = "form-control" })
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 form-group">
            <label for="searchHospital">Лечебно заведение</label>
            @Html.DropDownList("searchHospital", Model.Hospitals, GlobalConstants.Statuses.All, new { @class = "form-control" })
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 form-group">
            <label for="searchSpeciality">Специалност</label>
            @Html.DropDownList("searchSpeciality", Model.Specialities, GlobalConstants.Statuses.All, new { @class = "form-control" })
        </div>

        <div class="col-lg-10 col-md-3 col-sm-8 col-xs-12 form-group">
            <button id="btnSearch" type="button" class="btn btn-primary">Търси</button>
        </div>
    </div>

    <div class="row">
        <div data-role="wrapper">
            <div data-role="toolbar" class="clearfix">
                <h4 data-role="title" class="pull-md-left">Специалисти</h4>
                <div class="pull-md-left toolbar-btn-group">
                    <button id="btnAddSpecialist" type="button" class="btn btn-primary">Добави специалист</button>
                </div>
            </div>
            <table id="specialistsGrid" data-source="@Url.Action("GetSpecialists")" data-url-delete="@Url.Action("Delete", "Specialist")" data-url-activate="@Url.Action("Activate", "Specialist")"></table>
        </div>
    </div>
</div>

<div id="specialistDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Title</h4>
            </div>
            <div class="modal-body">
                <form class="modal-form" id="specialistForm" autocomplete="off">
                    <div class="contentTable dialog auto-overflow-dialog">
                        @Html.Hidden("Id")
                        @* Fixing chrome issue to autocomplete first password Ref: http://stackoverflow.com/questions/12374442/chrome-browser-ignoring-autocomplete-off *@
                        <input type="password" style="display:none">

                        <div id="loginInfoWrapper">
                            @Html.EditorFor(m => m.ViewModel.UserName)
                            @Html.EditorFor(m => m.ViewModel.Password)
                        </div>
                        @Html.EditorFor(m => m.ViewModel.Title, new { ListItems = Model.Titles })
                        @Html.EditorFor(m => m.ViewModel.FirstName)
                        @Html.EditorFor(m => m.ViewModel.LastName)
                        @Html.EditorFor(m => m.ViewModel.Uin)
                        @Html.EditorFor(m => m.ViewModel.PhoneNumber)
                        @Html.EditorFor(m => m.ViewModel.Email)
                        @Html.EditorFor(m => m.ViewModel.HospitalId, new { ListItems = Model.Hospitals })
                        @Html.EditorFor(m => m.ViewModel.SpecialityId, new { ListItems = Model.Specialities })

                        <div class="modal-footer">
                            <button id="btnSaveSpecialist" type="button" class="btn btn-primary" data-url="@Url.Action("Save")">Запис</button>
                            <button id="btnCancel" type="button" class="btn btn-default">Отказ</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>