@using TeleConsult.Web.Areas.Consultations.Models
@model ConsultationModel

<div class="modal fade" id="urinalysisDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Изследвания урина</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal modal-form" id="urinalysisForm">
                    <fieldset>
                        @Html.Hidden("urinalysisCounter")

                        @Html.HiddenFor(m => m.UrinalysisViewModel.Id)
                        <div class="form-group">
                            @Html.EditorFor(m => m.UrinalysisViewModel.SpecificGravity)
                            @Html.EditorFor(m => m.UrinalysisViewModel.Ph)
                            @Html.EditorFor(m => m.UrinalysisViewModel.Protein)
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(m => m.UrinalysisViewModel.ProteinWeight)
                            @Html.EditorFor(m => m.UrinalysisViewModel.Glucose)
                            @Html.EditorFor(m => m.UrinalysisViewModel.GlucoseWeight)
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(m => m.UrinalysisViewModel.KetoneBodies)
                            @Html.EditorFor(m => m.UrinalysisViewModel.Bilirubin)
                            @Html.EditorFor(m => m.UrinalysisViewModel.Urobilinogen)
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(m => m.UrinalysisViewModel.Blood)
                            @Html.EditorFor(m => m.UrinalysisViewModel.Porphobilinogen)
                            @Html.EditorFor(m => m.UrinalysisViewModel.Amylase)
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(m => m.UrinalysisViewModel.Ketosteroids)
                            @Html.EditorFor(m => m.UrinalysisViewModel.Diuresis)
                        </div>

                        @Html.EditorFor(m => m.UrinalysisViewModel.Sediments)
                        @Html.EditorFor(m => m.UrinalysisViewModel.FormedElements)

                        <div class="form-group">
                            @Html.EditorFor(m => m.UrinalysisViewModel.Date)
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                @if (!Model.IsConsultation && string.IsNullOrEmpty(Model.ViewModel.FinalDiagnosisCode))
                {
                    <button type="button" id="btnSaveUrinalysis" class="btn btn-primary">Запис</button>
                }

                <button type="button" id="btnCancelUrinalysis" class="btn btn-default">Отказ</button>
            </div>
        </div>
    </div>
</div>
